nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 121px;
  padding: 36px 32px;
  .logo {
    text-transform: uppercase;
    font-family: interBold;
    font-size: 32px;
  }
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 49px;
  gap: 10px;
  a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-color);
    padding: 10px 55.5px;
    border-radius: 10px;
    font-size: 24px;
    &:hover {
      color: var(--bg-color);
      background-color: var(--primary-color);
    }
  }
}
